/* 
$palette-color1: #edf8e9;
$palette-color2: #c7e9c0;
$palette-color3: #a1d99b;
$palette-color4: #74c476;
$palette-color5: #41ab5d;
$palette-color6: #238b45;
$palette-color7: #005a32;
*/

body {
  background-color: #c7e9c0;
}
