/* 
$palette-color1: #edf8e9;
$palette-color2: #c7e9c0;
$palette-color3: #a1d99b;
$palette-color4: #74c476;
$palette-color5: #41ab5d;
$palette-color6: #238b45;
$palette-color7: #005a32;
*/

body {
  background-color: #c7e9c0;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 0.5em;
}

table tr:nth-child(2n) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th {
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  background-color: #005a32;
  color: white;
}
